<div class="contents_wrapper">
  <div class="contents">
    <div class="form_wrapper">
      <h1 class="dot_action_title">Edit Dot</h1>
      <%= render partial: 'form', locals: {dot: @dot} %>
    </div>
  </div>
</div>